body {
    margin: 0;
    background: #1F2937;
    height: 550px;
    width: 550px;
    left: 642px;
    top: 64px;
    border-radius: 0px;
}
#buttonone {
    background: #10B981;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    position: absolute;
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;
    border: 0px;
    border-radius: 5px;

}
#firstone {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 52px;
    top: 396px;
    background: #273549;
    border-radius: 6px;
    color: #55F991;

}
#secondone {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 287px;
    top: 396px;
    background: #273549;
    border-radius: 6px;
    color: #55F991;

}

h1 {
    color: white;
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.025em;
}
p {
    position: absolute;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;

    /* text-xl/leading-7/font-normal */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Medium grey */

    color: #D5D4D8;

}